@using Pustok_project.ViewModels.AuthVM;
@model LoginVM
@* @{
	Layout = null;
}html lang="zxx">
 *@
<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @section styles{
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/plugins.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css" />
        <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
    }
</head>

<body>

   
    <main class="page-section inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row">
           
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    <form class="user" method="post">
                        <div class="form-group">
                            <input class="form-control form-control-user"
                                   asp-for="UserNameOrEmail"
                                   placeholder="Enter username or email address">
                            <span class="text-danger" asp-validation-for="UserNameOrEmail"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user"
                                   placeholder="Password" asp-for="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input class="custom-control-input" asp-for="IsRemember">
                                <label class="custom-control-label" asp-for="IsRemember">
                                    Remember
                                    Me
                                </label>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <button class="btn btn-primary btn-user btn-block">
                            Login
                        </button>
                      
                    </form>
                </div>
            </div>
        </div>
    </main>

    @section scripts
        {
        <script src="~/js/plugins.js"></script>
        <script src="~/js/ajax-mail.js"></script>
        <script src="~/js/custom.js"></script>
        @* 	<script>
    var page = 2;
    var pageSize = 2;
    $("#showMore").click(function () {
    $.ajax(
    {
    type: "POST",
    url: "/Admin/Category/GetMoreRecords?page=" + page + "&pageSize=" + pageSize,
    success: function (data) {
    $("#records").append(data);
    page++;
    }
    });
    });
    </script> *@
    }
    <!-- Use Minified Plugins Version For Fast Page Load -->
</body>


<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:11 GMT -->

				