@using Pustok_project.ViewModels.AuthVM;
@model UserPageVM

<!DOCTYPE html>
<html lang="zxx">


<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pustok - Book Store HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@section styles{
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/plugins.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
	}
</head>

<body>

	<main class="page-section inner-page-sec-padding-bottom">
		<div class="account-details-form container">
			<form method="post">
				<div class="row">
				@* 	<div class="form-group">
						<label asp-for="ProductCode">ProductCode</label>
						<input asp-for="ProductCode" class="form-control">
						<span asp-validation-for="ProductCode" class="text-danger"></span>
					</div> *@
					<div class="form-group col-lg-12 ">
						<input class="form-control "asp-for="Fullname">
						<span class="text-danger" asp-validation-for="Fullname"></span>
					</div>
					<div class="form-group col-lg-12 ">
						<input class="form-control form-control-user" placeholder="Email" asp-for="Email">
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>
					<div class="form-group col-lg-12">
						<input class="form-control form-control-user" placeholder="Username" asp-for="Username">
						<span class="text-danger" asp-validation-for="Username"></span>
					</div>
					<div class="col-12  mb--30">
						<h4>Password change</h4>
					</div>
					<div class="form-group col-lg-6">
						<input class="form-control form-control-user" placeholder="Password" asp-for="Password">
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>
					<div class="form-group col-lg-6 mb--20">
						<input class="form-control form-control-user" placeholder="ConfirmPassword" asp-for="ConfirmPassword">
						<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
					</div>
					<div class="text-danger" asp-validation-summary="ModelOnly"></div>

					<div class="col-12">
						<button class="btn btn-success">Submit!</button>
					</div>
				</div>
			</form>
		</div>
	</main>

	@section scripts
		{
		<script src="~/js/plugins.js"></script>
		<script src="~/js/ajax-mail.js"></script>
		<script src="~/js/custom.js"></script>
		
	}
</body>


