@model AppUser

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/plugins.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/image/favicon.ico">
</head>
<main>
<body>
	<div class="tab-pane fade" id="account-info" role="tabpanel">
		<div class="myaccount-content">
			<h3>Account Details</h3>
			<div class="account-details-form">
				<form action="#" method="post">
					<div class="row">
						<div class="col-lg-6 col-12  mb--30">
							<input id="first-name" placeholder="First Name" type="text">
						</div>
						<div class="col-lg-6 col-12  mb--30">
							<input id="last-name" placeholder="Last Name" type="text">
						</div>
						<div class="col-12  mb--30">
							<input id="display-name" placeholder="Display Name"
								   type="text">
						</div>
						<div class="col-12  mb--30">
							<input id="email" placeholder="Email Address" type="email">
						</div>
						<div class="col-12  mb--30">
							<h4>Password change</h4>
						</div>
						<div class="col-12  mb--30">
							<input id="current-pwd" placeholder="Current Password"
								   type="password">
						</div>
						<div class="col-lg-6 col-12  mb--30">
							<input id="new-pwd" placeholder="New Password"
								   type="password">
						</div>
						<div class="col-lg-6 col-12  mb--30">
							<input id="confirm-pwd" placeholder="Confirm Password"
								   type="password">
						</div>
						<div class="col-12">
							<button class="btn btn--primary">Save Changes</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</main>
</html>