@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}
@model TagCreateVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Tag</h6>
    </div>
    <div class="card-body">
        <form action="" method="post">
         
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
         

            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>
