@model LoadMoreVM<IEnumerable<TagListItemVM>>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Tag";
}
@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script>

        $("#salam").on("click", "#prod-pag a", function (ev) {
            ev.preventDefault();
            fetch($(this).attr("href"))
                .then(res => res.text())
                .then(data => $("#salam").html(data))
        })

                
    </script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tag</h6>
        <a href="/Admin/Tag/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" >
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead id="salam">
                <th>Id</th>
                <th>Title</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    <partial model="Model" name="_TagLoadMorePartial" />

                </tbody>
            </table>
        </div>

    </div>
</div>