@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model UpdateAuthorVM
@{
    ViewData["Title"] = "Update";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update Author</h6>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <input asp-for="Surname" class="form-control">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
    
            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>

