@model PaginationVM<IEnumerable<ProductListItemVM>>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product";
}
@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script>

        $("#dataTable").on("click", "#prod-pag a", function (ev) {
            ev.preventDefault();
            fetch($(this).attr("href"))
                .then(res => res.text())
                .then(data => $("#dataTable").html(data))
        })

                
    </script>
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product</h6>
        <a href="/Admin/Product/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="dataTable">
                <partial model="Model" name="_ProductPaginationPartial" />
        </div>
        
      

    </div>
</div>